@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #252323;
  --shader: #aea6a622;
  --text-color: #f0f8ff;
  --btn-colors: #21cefd;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  background: var(--background-color);
}
.flex-row {
  justify-content: center;
  align-items: center;
}
.navBar {
  background-color: var(--shader);
}
button {
  transition: 1s;
  color: var(--text-color);
}
button:hover {
  transition: 2s;
  color: var(--btn-colors);
}
.news {
  background-color: var(--shader);
}
aside {
  background-color: var(--background-color);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
