@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #252323;
  --text-color: #f0f8ff;
  --btn-colors: #21cefd;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
.flex-row {
  justify-content: center;
  align-items: center;
}

button {
  transition: 1s;
  color: var(--text-color);
}
button:hover {
  transition: 2s;
  color: var(--btn-colors);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
